# deep learning libraries
tensorboard
keras
h5py

protobuf<3.7
numpy<=1.16
grpcio<1.12.0

# libraries to interact with a Unity environment
gym
gym_unity

# reinforcement learning algorithm baselines
stable-baselines

# visualization
matplotlib
seaborn

# data management
pandas

# image manipulation
scipy
opencv-python

# NN models format conversion
onnx
tf2onnx
keras2onnx
